* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: eurof;
    src: url(../fonts/eurof/eurof55.ttf);
}
@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

/* FONT AWSOME */
@font-face {
    font-family: Brands;
    src: url(../fonts/awesome/Font\ Awesome\ 5\ Brands-Regular-400.otf);
}
.fab::before {
    font-family: Brands;
}

/* ICONS */

.fab.fa-facebook::before {
    content: "\f39e";
}

.fab.fa-twitter::before {
    content: "\f099";
}

.fab.fa-behance::before {
    content: "\f1b4";
}

.fab.fa-dribbble::before {
    content: "\f17d";
}


/* BASE */

html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}
a{
    text-decoration: none;
}

img {
    width:100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 .8em;
    line-height: 1.071;
}

h2 {
    font-size: 2rem;
}
/* MAIN LAYOUT */
.main-layout{
    max-width: 980px;
    margin: 0 auto;
}
/* HEADER */
.header-main{
box-shadow: inset 0 -6px 0 #1e1e1e;
background-color: #292929;
}
.header-container{
    align-items: center;
}
.header-main .logo{
    font-family: 'eurof', serif;
    font-size: 2.5rem;
    letter-spacing: -1px;
    color: #ffffff;
}
.header-main .logo span{
    color: #58c93a;
}
.main-links a{
    box-shadow: -1px 0 0 #1d1d1d;
    text-align: center;
    width: 130px;
    height: 130px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(0px 1px 0px #1e1e1e);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .4s, box-shadow .2s;
}
.main-links a:hover{
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
}
.main-links a.active {
    box-shadow: inset 0 -6px #58c93a;
    color: #58c93a;
}
.header-main .main-links>*:last-child {
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
}

/* MAIN CONTENT */
.main-page{
    padding-top: 80px;
    justify-content: center;
    border: 1px solid #e1e0e0;
    flex-direction: column;
}
.card {
    margin-bottom: 5rem;
    gap: 40px;
}
.card img{
    flex-basis: 50%;
    align-self: flex-start;
}
.card .article{
    flex-direction: column;
    padding-right: 25px;
    color: #606060;
}
.card .article p:last-of-type {
    flex: 1;
}
.card .article h2{
    color: #4f4e4e;
    text-transform: uppercase;
}
.card .article .btn{
    position: relative;
    padding: 0 1.5em;
    line-height: 2.5em;
    border-radius: 3em;
    align-self: flex-start;
    border: 2px solid #c2c2c2;
    background-color: #fff;
    color: #c2c1c1;
    font-weight: 600;
    text-align: center;

    transition: padding .4s;
}
.article .btn:hover{
    border: 2px solid #58c93a;
    color: #58c93a;
    padding-inline-end: 2.5em;
}
.article .btn:hover::after{
    content: "\2192";
    position: absolute;
    right: .75em;
}

/* PAGE FOOTER */
.page-footer>*:first-child {
    margin-inline-end: 689px;
    padding-inline-start: 21px;
}

.nav-btn {
    text-transform: uppercase;
    padding-inline-end: 30px;
    height: 75px;
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    border: none;
    color: #818181;
    background-color: #fff;
    transition: color 0.3s linear;
}

.nav-btn:hover {
    color: #4baf30;
}


/* FOOTER */
.main-footer{
    gap: 20px;
    background-color: #f8f8f8;
    flex-direction: column;
    padding-block: 80px;
}
.main-footer .logo{
    font-family: 'eurof', serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.8px;
}
.main-footer .logo span{
    color: #58c93a;
}
.main-footer small{
    text-align: center;
    color: #a6a6a6;
}
.main-footer .social-nav {
    gap: 20px;
}
.social-nav li a {
    background-color: #e5e5e5;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    transition: background-color 0.2s ease-in;
}

.main-footer .social-nav li .fa-facebook:hover{
    background-color: #516fad;
}
.main-footer .social-nav li .fa-twitter:hover{
    background-color: #1C9BE9;
}
.main-footer .social-nav li .fa-behance:hover{
    background-color: #000B1C;
}
.main-footer .social-nav li .fa-dribbble:hover{
    background-color: rgb(229,71,134);
}

/* HELPERS */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}
/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0px;
}